body {
    font-family: "Lato", sans-serif;
    margin: 40px 60px;
}

#top, h3 {
    padding-left: 280px;
}

#top {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: #001489;
}

h1 {
    margin: 0;
    color: #FFDD00;
}

h2 {
    margin: 0 0 10px 0;
    color: white;
}

#character_picker {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

#character_picker label {
    margin-right: 60px;
    min-width: 60px;
}

#character_picker input {
    /* accent-color: #9b59b6; */
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

#character_picker span {
    font-size: 24px;
}

#character_picker img {
    display: block;
    border-radius: 16px;
}

.tooltip {
    min-height: 140px;
}